.container{
    width: auto;
    height: 600px;
    background-color: lightslategrey;
    margin: auto;
    position: relative;
    
    
}

.game{

    width: 270px;
    height: 270px;
    background-color: white;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    
    
}

.plug{

    width: 90px;
    height: 90px;
    background-color: black;
    float: left;
    border-radius: 5px;
    color: blanchedalmond;
    font-size: 28px;
    font-weight: bold;

}